header{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)) ,url(/WhatsApp\ Image\ 2024-04-11\ at\ 3.52.18\ PM.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav{
    margin-bottom: 60px;
}


.orange{
    color:#fd7e14;
}

.bgOrange{
    background-color: #fd7e14;
}

.BorderOrange{
    border-color: #fd7e14;
    border-radius: 0px;
}

nav li a{
    color: white !important;
    text-transform: uppercase;
}
ul{
    gap: 3rem;
}

.decalage{
    margin-left: 150px;
}

p,h1{
    color: white;
}

a{
    text-decoration: none;
}

button[type="submit"]{
    width: 100%;
}

.bgDark{
    background: rgb(0, 0, 0,0.8);
}

.contoure{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:2px solid #fd7e14;
    border-radius:0px;
}
.contact{
    border: 2px solid white;
    margin-left: 10px;
    padding: 0.2 rem;
}

.espace{
    justify-content: space-between;
}